# Port Configuration
PORT={{ app_port }}

# DB Configuration
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}

# JWT Secret
JWT_SECRET={{ jwt_secret }}
JWT_EXPIRY={{ jwt_expiry }}
